<template>
  <div class="detect-container">
    <div>
      <a-typography-title :level="5">使用模型：ssdlite_mobilenet_v2</a-typography-title>
      <a-typography-text>CloudOS demo,请勿商用 </a-typography-text>
    </div>
    <a-upload-dragger
      v-model:fileList="fileList"
      name="file"
      :show-upload-list="false"
      action="https://www.mocky.io/v2/5cc8019d300000980a055e76"
      accept=".png ,.jpg"
      :before-upload="beforeUpload"
    >
      <template v-if="previewImage">
        <img ref="image" :src="previewImage" />
        <div :style="{ marginTop: '8px' }">
          <a-button type="primary" ghost>重新上传</a-button>
        </div>
      </template>
      <template v-else>
        <p class="ant-upload-drag-icon">
          <inbox-outlined></inbox-outlined>
        </p>
        <p class="ant-upload-text">点击或将图片拖拽到这里上传</p>
        <p class="ant-upload-hint">支持扩展名： .png .jpg</p>
      </template>
    </a-upload-dragger>
    <div v-show="detectStatus === 'successful'">
      <a-typography-title :level="5">检测结果：</a-typography-title>
      <canvas ref="canvas" />
    </div>
    <div v-if="detectStatus === 'failed'">暂时无法识别物体，请重试~</div>
  </div>
</template>
<script lang="ts">
import { InboxOutlined } from '@ant-design/icons-vue'
import { message } from 'ant-design-vue'
import { defineComponent, nextTick, ref } from 'vue'
import type { UploadProps } from 'ant-design-vue'
import { upload, getBase64 } from '~/api/upload'

export default defineComponent({
  components: {
    InboxOutlined,
  },
  setup() {
    const uploading = ref<boolean>(false)
    const previewImage = ref<string>()
    const detectStatus = ref<'successful' | 'failed' | null>()
    const image = ref<HTMLImageElement | null>()
    const canvas = ref<HTMLCanvasElement | null>()

    const drawResult = (results: any[]) => {
      if (!canvas.value || !image.value) return
      canvas.value.width = image.value.width
      canvas.value.height = image.value.height
      const ctx = canvas.value.getContext('2d')!
      ctx.clearRect(0, 0, canvas.value.width, canvas.value.height)
      ctx.drawImage(image.value, 0, 0)
      for (const bboxInfo of results) {
        const bbox = bboxInfo['bbox']
        const class_name = bboxInfo['name']
        const score = bboxInfo['conf']

        ctx.beginPath()
        ctx.lineWidth = 4

        ctx.strokeStyle = 'red'
        ctx.fillStyle = 'red'

        ctx.rect(bbox[0], bbox[1], bbox[2] - bbox[0], bbox[3] - bbox[1])
        ctx.stroke()

        ctx.font = '30px Arial'

        let content = class_name + ' ' + parseFloat(score).toFixed(2)
        ctx.fillText(content, bbox[0], bbox[1] < 20 ? bbox[1] + 30 : bbox[1] - 5)
      }
    }

    // 初始化函数
    function setupCanvas() {
      // Make a detection with the default image
      // detectImage();
      if (!image.value) return
      const canvasTmp = document.createElement('canvas')
      canvasTmp.width = image.value?.width || 0
      canvasTmp.height = image.value?.height || 0
      const ctx = canvasTmp.getContext('2d')
      ctx?.drawImage(image.value, 0, 0)
    }

    const beforeUpload: UploadProps['beforeUpload'] = async (file) => {
      const image = (await getBase64(file)) as string
      previewImage.value = image
      nextTick(() => {
        setupCanvas()
      })
      upload({ image })
        .then((res) => {
          uploading.value = false
          if (res.results?.length) {
            drawResult(res.results)
            detectStatus.value = 'successful'
            message.success('上传图片成功')
          } else {
            detectStatus.value = 'failed'
          }
        })
        .catch((err) => {
          console.log('upload error:', err)
          uploading.value = false
          message.error('上传图片失败')
        })
      return false
    }

    return {
      beforeUpload,
      fileList: ref([]),
      previewImage,
      image,
      canvas,
      detectStatus,
    }
  },
})
</script>
<style>
.detect-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;
}
.detect-container .ant-upload {
  width: 400px;
}
</style>
