<script>
export default {}
</script>

<template>
  <header>
    <img src="/logo.svg" class="logo" />
    <div class="menu-item"><h1>物体检测demo</h1></div>
    <div class="avatar">
      <a-avatar :size="40">C</a-avatar>
    </div>
  </header>
</template>

<style scoped>
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--ctg-header-hight);
  background-color: #fff;
  border-bottom: 1px solid #e4e6ea;
}

h1 {
  font-size: 20px;
}

.logo {
  margin-left: 40px;
}

.avatar {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  margin-right: 40px;
  text-align: right;
}

.menu-item {
  height: 50px;
  line-height: 50px;
  text-indent: 10px;
}
.menu-item :hover {
  cursor: pointer;
}
.menu-item a {
  color: rgb(96 98 102);
  text-decoration: none;
}
.menu-item a:link {
  color: none;
}
</style>
