<script setup lang="ts">
import Header from './header.vue'
</script>

<template>
  <div class="layout">
    <Header />
    <main>
      <router-view />
    </main>
  </div>
</template>

<style>
.layout {
  display: flex;
  height: 100%;
}
.layout main {
  flex: 1 1 auto;
  width: max-content;
  min-width: 1200px;
  height: max-content;
  min-height: 100%;
  padding: calc(var(--ctg-header-hight) + 40px) 40px 40px;
  background-color: #f5f5f5;
}
.layout header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
}
</style>
